
*{
  margin: 0px;
 }

  .Navbar_holder{
    
  }

.navbar{
    position: fixed;
    padding: 1.6em 3em 1.6em 3em;
    display: flex;
    background-color: white;
    align-items: center;
     width: 100%;
    border-bottom: 0.1em solid #f2f2f2;
 }

  .navbar-line{
  
  }

  .FoodieImg_container{
    margin-left: 0px;
  }

   .links {
    display: flex;
    margin-left: 17em;
    font-family: inter;
    font-size: 1em;
    line-height: 19.36px;
    font-weight: 500;
    gap: 1.35em;
  }

  .navbar a{
    color: black;
    text-decoration: none;
    
  }
  .navbar a:hover{
    color: skyblue;
  }

  .socials{
    display: flex;
    align-items: center;
    margin-left: 20.03em ;
    display: flex;
    gap: 30px;
    }

    .IGImage {
     /* margin-left: -60px;*/
    }

    .XImage{
     /* margin-left:-60px ;*/
    }

    .FbImage{
     /* margin-left: -60px;*/
    }

    .menubar{
     display: none;
    }

   

    .HomeImages_container_Holder{
      display: flex;
      padding-top: 95px;
      }

    .HomeImage_container{
      display: grid;
      place-items: center;
      }

  .HomeImage{
    width: 100%;
    }

  .LeftImage_container{
    margin-top: 10px;
    margin-right: 10px;
   }

 .LeftImage{
   width: 104%;
   }

 .RightImage_container{
  margin-top: 10px;
  margin-left: 10px;
  }

 .RightImage{
  width: 105%;
 }

 .Foodie_categories{
  margin-top: 70px;
  margin-left: 53px;
  margin-right: 53px;
 }
 .Foodie_header_holder{
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin-bottom: 90px;
 }

 .Foodie_header{
   font-family: Inter;
   font-weight: 600;
   font-size: 48px;
   line-height: 58.09px;
   color: black;
   }

 .Foodie_subheader_body{
  background: #E7FAFE;
  padding: 10px 0px 10px 0px;
  width: 200px;
  border-radius: 16px;
  text-align: center;
  
 }

 .Foodie_subheader{
  font-family:Inter;
  font-weight: 600;
  font-size: 16px;
  line-height:19.36px;
 }

 .Meal-choice{
  gap: 20px;
  display: flex;
 }

 .Meal-choice_image1{
  gap: 20px;
  display: flex;
 }

 .Meal-choice_image{
  
 }

 .Breakfast_image ,.Vegan_image, 
 .Meat_image, .Dessert_image,
 .Lunch_image, .Chocolate_image{
  width: 104%;
 }

 .Recipes_section{
  margin-top: 110px;
  margin-left: 40px;
  
 }

 .Recipes_header_holder{
  text-align: center;
 }

 .Recipes_header{
  font-family: Inter ;
  font-weight: 600;
  font-size: 48px;
  line-height: 58.09px;
  }

 .Recipes_paragraph{
  font-family: Inter ;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  margin-top: 20px;
  color: #00000099;
 
 }

 .Recipes-Image_container{
 margin-top: 50px;
 }

 .Recipes-Image_container_subs{
  display: flex;
  gap: 30px;
  margin-top: 30px;
 }

 .Recipes-Image{
  width: 95%;
 }

 .Chef_section_holder{
  display: flex;
  margin-top: 150px;
  align-items: center;
  gap: 130px;
  margin-right:40px;
 }

 .Chef_section_header{
  width: 150%;
  font-family: Inter;
  font-weight: 600;
  font-size: 41px;
  line-height: 45px;
  }

 .Chef_section_paragraph{
  margin-top: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-family: Inter;
  color: #00000099;
  width: 150%;
 }

 .Chef_section_button{
  margin-top: 40px;
  width: 180px;
  height: 60px;
  border-radius: 16px;
  font-family: Inter;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  background-color:  #000000;
  
 }

 .Chef_section_button:hover{
  background-color: skyblue;
 }

 .Chef_section_Image_holder{
  width: 56%;
  margin-left: 50px;
  margin-right: 40px;
 }

 .Instagram_section_holder{
  background-image:  linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #E7F9FD 100%);
  margin-top: 2500px;
  padding-bottom: 50px;
  width: 100%;
 }

 .Instagram_section_header{
  text-align: center;
 }

 .Instagram_header{
  font-family: Inter;
  font-weight: 600;
  font-size: 45px;
  line-height: 58.09px;
  margin-bottom: 35px;
 }

 .Instagram_paragraph{
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 15px;
  color:  #00000099;
 }

 .Instagram_section_Image{
  display: flex;
  margin-left: 50px;
  margin-top: 50px;
  gap: 10px;

  }

 .Instagram_section_post_Image_holder{
  display: flex;
  gap: 20px;
  
 }

 .Instagram_section_post_Image{
  width: 95%;
 }

 .Instagram_section_button{
  place-items: center;
  display: grid;
  margin-top: 40px;
  
 }

 .Instagram_button{ 
  background-color: black;
  color: #ffffff;
  width: 229px;
  height: 60px;
  border-radius: 16px;
}

.Instagram_button:hover{
  background-color: skyblue;
}

.Ig-Image{
  position: absolute;
  margin-left: 7px;
  margin-top: -3px;
}

.Delicious_recipies_holder{
  margin-bottom: 100px;
  margin-left: 10px;
}

.Delicious_recipies_header_holder{
  display: flex;
  gap: 50px;
  margin-top: 150px;
  margin-left: 40px;
  margin-right: 40px;
}

.Delicious_recipies_header{
  font-family: Inter;
  font-weight: 600;
  font-size: 48px;
  line-height: 50px;
  width: 100%;
}

.Delicious_recipies_paragraph{
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin-top: 30px;
  color: #00000099;
 
}

.Delicious_recipies_Image_holder{
  display: flex;
  margin-top: 55px;
  margin-left: 40px;
  gap: 10px;
}

.Delicious_recipies_Image{
  width: 95%;
}

.Subscribe_section{
  position: absolute;
  z-index: -1;
  margin-top: 120px;
}
.Subscribe_Image_section{
  display: grid;
  place-items: center;
}
.Subscribe_ImageImg_holder{
  display: grid;
  place-items: center;
}

.Subscribe_ImageImg{
  width: 95%;
}

.Subscribe_section_header_holder{
  margin-top: -400px;
}

.Subscribe_section_header{
  font-family: Inter;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  color: #000000;
  margin-bottom: 20px;
}

.Subscribe_section_paragraph{
  text-align: center;
  margin-bottom: 40px;
}

.Subscribe_section_collector{
  display: grid;
  place-items: center;
  background-color: #ffffff;
  border-radius: 24px;
  width: 70%;
  height: 80px;
  margin-left: 100px;
  
}

.Subscribe_section_collector_sub{
  display: flex;
  gap: 100px;
  align-items: center;

}

.Subscribe_button_section{
  color: #00000099;
  font-family: Inter;
  font-weight: 500;
  font-size: 14px;
  line-height:16.94px;
}

.Subscribe_button{
  width: 160px;
  height: 60px;
  border-radius: 16px;
  background-color: black;
  color: #ffffff;
}

.Subscribe_button:hover{
  background-color: skyblue;
}

.Delicious_sub{
  display: grid;
  place-items: center;
  width:92.5%;
  height: 79vh;
  border-radius: 60px;
  background-color:  #E7F9FD;
  margin-left: 40px;
  margin-top: 150px;
  
}

.Delicious_sub_header{
  font-family: Inter;
  font-weight: 600;
  line-height: 58px;
  font-size: 48px;
  padding-top: 40px;
}

.Delicious_sub_paragraph{
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  font-size: 16px;
  color: #00000099;
  padding-top: 30px;
  text-align: center;
}

.Delicious_sub_input{
  display: flex;
  background-color: #ffffff;
  border-radius: 24px;
  width: 480px;
  height: 80px;
  align-items: center;  
  margin-top: 80px;
  }

  .Delicious_sub_input_holder{
   align-items: center;
   margin-left: 30px;
    display: flex;
    gap: 120px;
  }

  .Delicious_sub_input_email{
    color: #00000066;
    font-family: Inter;
    font-weight: 500;
    line-height: 16px;
    font-size: 14px;
    color: #00000099;
    
  }

  .Delicious_sub_button{
    width: 160px;
    height: 60px;
    border-radius: 16px;
    background-color: black;
    color: #ffffff;
    font-family: Inter;
    font-weight: 600;
    line-height: 16px;
    font-size: 14px;

  }

  .Delicious_sub_Image_holder{
    display: flex;
  }

  .Delicious_sub_salad_holder{
    margin-right: 40px;
    margin-top:-250px;
  }

  .Delicious_sub_salad{
    border-radius: 0px 0px 0px 40px;
    width: 100%;
  }

  .Delicious_sub_eggs_holder{
    margin-left: 430px;
    margin-top: -115px;
    
  }

  .Delicious_sub_eggs{
    border-radius: 0px 0px 60px 0px;
    width: 100%;
  }

  .footer_section{
   margin-top: 150px;
   margin-left: 40px;
   margin-right: 50px;
   
  }

.footer_section_container{
  display: flex;
  justify-content: space-between;
}

.footer_section_paragraph{
  margin-top: 15px;
  color: #00000099;

}

.footer_section_links{
  
  
}

.footer_section_links_a{
  margin-left: 55px;
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  font-family: Inter;
}

.footer_section_line{
  color: #0000001A;
  margin-top: 15px;
}

.footer_section_certify_holder{
  align-items: center;
  justify-content: space-between;
  
}

.footer_section_certify{
 display: flex;
 margin-top: 15px;
 justify-content: space-between;
 margin-top: 20px;
}

.footer_section_paragraph_certify{
  margin-left: 450px;
}

.footer_section_paragraph_certify_span{
  color: orange;
}

.footer_section-logo{
  display: flex;
  gap: 50px;
  padding-bottom: 30px;
}

/* NavBar Media Queries */

/*@media screen and (max-width: 1028px){

  .navbar{
    width: 100%;
  }
  .links{
    margin-left: 12em;
    font-size: 1em;
    gap: 1.1em;
  }

  .socials{
    display: flex;
    align-items: center;
    margin-left: 10.5em ;
    display: flex;
    gap: 35px;
  }

 /*.menubar{
    
    padding-left: 33em;
    } */

    /* Home Media Queries */

    /*.HomeImage_container{
      margin-top: 10px;
      
    }

    .HomeImage{
      width: 91%;
      }
  
    .LeftImage_container{
      display: none;
     
     }
  
   .LeftImage{
     width: 100%;
   }
  
   .RightImage_container{
    display: none;
 }
  
   .RightImage{
    width: 100%;
   }

   .Foodie_header_holder{
   
  }

    .Foodie_subheader_body{
     
    }

    .Recipes_section{
     margin-top: 110px;
     margin-left: 10px;
     }
   
    .Recipes_header_holder{
     text-align: center;
    }

    
 .Recipes-Image_container{
  margin-top: 70px;
  }
 
  .Recipes-Image_container_subs{
   display: flex;
   gap: 20px;
   margin-top: 30px;
   margin-left: 30px;
  
  }

  .Recipes-Image_holder{
    
  }
 
  .Recipes-Image{
   width: 301px;
  }

  .Chef_section_holder{
    margin-right:0px;
    padding-left: 3em;
   }

   .Chef_section_Image{
    width: 490px;
   }
   
  .Chef_section_Image_holder{
    width: 50%;
    margin-left: 55px;
    margin-right: 40px;
   }

   .Instagram_section_holder{
    background-image:  linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #E7F9FD 100%);
    margin-top: 2150px;
    padding-bottom: 50px;
   }

   .Instagram_section_post_Image{
    width: 220px;
   }

   .Instagram_section_post_Image_holder{
    
   }

   .Delicious_recipies_header_holder{
    display: block;
    padding-left: 40px;
    padding-right: 40px;
   }

   .Delicious_recipies_header, .Delicious_recipies_paragraph{
    text-align: center;
   }

   .Delicious_recipies_Image_holder{
    gap: 1px;
   }

   .Delicious_recipies_Image{
    width: 82%;
   }

  .Delicious_sub{
    width:90.5%;
    height: 60vh;
    }

    .Delicious_sub_salad_holder{
      margin-right: 40px;
      margin-top:-211px;
    }
  
    .Delicious_sub_salad{
      border-radius: 0px 0px 0px 40px;
      width: 100%;
    }
  
    .Delicious_sub_eggs_holder{
      margin-left: 430px;
      margin-top: -125px;
      
    }
  
    .Delicious_sub_eggs{
      border-radius: 0px 0px 60px 0px;
      width: 100%;
    }
}

@media screen and (max-width: 996px) {
  .socials{
  gap: 20px;
  }

  .Recipes-Image{
    width: 100%;
  }

  .Instagram_section_post_Image{
    width: 213px;
   }

  .Delicious_sub_salad_holder{
    margin-right: 50px;
    margin-top:-20px;
  }
   
  .Delicious_sub_eggs_holder{
    margin-left: 430px;
    margin-top: 55px;
    }

  .footer_section_paragraph_certify{
    margin-left: 350px;
  }

 .footer_section-logo{
    padding-left: 20px;
  }
}

@media screen and (max-width: 876px) {
   .links{
    display: none;
   }

   .socials{
    display: none;
   }

   .menubar{
    display: block;
    padding-left: 700px;
    }

    .HomeImage_container{
      margin-top: 0px;
    }

    .HomeImage{
      width: 97.9%;
      margin-left: 60px;
      }
  
    .LeftImage_container{
      display: none;
     }
  
   
  
   .RightImage_container{
   display: none;
 }


   .Foodie_header{
    padding-left: 305px ;
  }

  .Foodie_subheader_body{
    display: none;
  }

  .Meal-choice{
    padding-left: 20px;
    gap:60px;
  }

  .Meal-choice_image1{
   display: none;
  }

  .Breakfast_image ,.Vegan_image, 
  .Meat_image, .Dessert_image,
  .Lunch_image, .Chocolate_image{
   width: 125%;
  }

.Recipes-Image_container{
 margin-top: 70px;
 }

.Recipes-Image{
  width: 270px;
  margin-left: 4px;
 }

 .Chef_section_Image{
  width: 450px;
 }

 .Instagram_section_holder{
 
 }

 .Instagram_section_holder{
  margin-left: 60px;
 margin-right: 10px;
 }

 .Instagram_section_Image{
  margin-left: 45px;
 }

 .Instagram_section_post_Image{
  width: 160px;
 }

 .Delicious_recipies_holder{
  margin-left: 0px;
  gap: 20px;
 }

.Delicious_recipies_Image{
  width: 80%;
  
}

.Delicious_sub{
  width: 97%;
}

.footer_section_paragraph{
  display: none;
}

.footer_section_paragraph_certify{
  margin-left: 250px;
}

}

@media screen and (max-width: 776px) {
  .menubar{
    padding-left: 540px;
    }

    .HomeImage{
      width: 90%;
      margin-left: 1px;
      }

      .Foodie_header{
        padding-left: 200px ;
      }

      .Meal-choice{
        padding-left: 0px;
        gap:40px;
      }

      .Breakfast_image, 
      .Vegan_image, 
      .Meat_image, 
      .Dessert_image{
        width: 140px;
      }

      .Instagram_section_holder{
        margin-left: 0px;
      }

      .Recipes_header_holder{
        margin-right: 130px;
      }

      .Recipes-Image_container_subs{
        display: grid;
        place-items: center;
        margin-right: 80px;
      }

      .Recipes-Image{
        width: 100%;
        display: none;
    
      }

      .Chef_section_Image{
        width: 310px;
       }

      .Delicious_sub{
        width: 90%;
        }

        .Delicious_sub_salad, .Delicious_sub_eggs{
         width: 125px;
        }

      .Delicious_sub_salad_holder{
        margin-right: 20px;
        margin-top:30px;
      }
       
      .Delicious_sub_eggs_holder{
        margin-left: 420px;
        margin-top: 80px;
        
        }

        .footer_section_paragraph_certify{
          margin-left: 150px;
        }

        .Recipes_header_holder{
          
          margin-left: 100px;
        }

        .Recipes_paragraph{
          padding-left: 10px;
          padding-right: 10px;
        }
}

@media screen and (max-width: 550px) {
  .FoodieImg_container{
    margin-left: -20px;
  }
  .menubar{
    padding-left: 350px;
    }

    .HomeImage{
      width: 90.5%;
      }
      
       .Foodie_header{
        padding-left: 130px ;
        font-size: 40px;
      }
    

      .Breakfast_image, 
      .Vegan_image, 
      .Meat_image, 
      .Dessert_image{
        width: 120px;
      }

      .Meal-choice{
        margin-left: -30px;
      }

      .Meal-choice_image{
        width: 88px;
      }

      .Recipes_section{
        margin-left: 50px;
        width: 100%;
      }

      .Recipes_header{
        font-size: 35px;
        margin-left: -50px;
     }

     .Recipes_paragraph{
      margin-left: -50px;
     }

      .Chef_section_holder{
        display: grid;
        margin-left: -80px;
        width: 100%;
        
    }

    .Chef_section{
      width: 61%;
      margin-left: 20px;
    }

    .Chef_section_header{
      font-size: 35px;
       margin-left: -20px;
      text-align: center;
    }
    
    .Chef_section_paragraph{
      margin-left: -20px;
      text-align: center;
    }

    .Chef_section_button{
      margin-left: 150px;
     
    }

    .Chef_section_Image{
      width: 450px;
      margin-left: -40px;
    }

    .Instagram_section_holder{
      margin-left: 0px;
     width: 100%;
    }

    .Instagram_header{
      font-size: 35px;
      margin-left: -15px;
      line-height: 40px;
    }

    .Instagram_paragraph{
      
     
     line-height: 22px;
    }

    .Instagram_section_post_Image_holder{
      display: block;
       
    }
    

    .Instagram_section_post_Image{
     width: 230px;
    }
    

    .Delicious_recipies_holder{
      margin-left: 40px;
    }

    .Delicious_recipies_header{
      font-size: 35px;
      line-height: 40px;
      margin-left: -32px;
    }

    .Delicious_recipies_paragraph{
      margin-left: -32px;
      padding:0px 20px 0px 20px;

    }

    .Delicious_recipies_Image_holder{
      display: grid;
      place-items: center;
    }

    .Delicious_sub{
      width: 85.7%;
     }

    .Delicious_sub_header{
      font-size: 30px;
      margin-top: -20px;
    
    }

   
    .Delicious_sub_input{
     width:400px ;
     
    }

    .Delicious_sub_button{
      width: 100px;

    }

    .Delicious_sub_salad{
      width: 160px;
    }

    .Delicious_sub_eggs{
      width: 150px;
    }

    .Delicious_sub_salad_holder{
      
    }
     
    .Delicious_sub_eggs_holder{
      margin-left: 140px;
      
      }

   .footer_section_container{
     display: grid;
     place-items: center;
     gap: 25px;
   }

   .footer_section_certify{
    display: grid;
    place-items: center;
   }

   .footer_section_paragraph_certify{
    margin-left: 60px;
    
  }

  .footer_section-logo{
    margin-top: 20px;
  }


}

/*@media screen and (min-width: 361px) {
  .FoodieImage{
    width: 90px;
 
    
  }

  .FoodieImg_container{
    
    
  }

  .menubar{
    padding-left: 180px;
    }
    
    .Foodie_header{
      margin-left: -90px;
    }

    .Meal-choice{
      gap: 10px;
    }

    .Breakfast_image, 
      .Vegan_image, 
      .Meat_image, 
      .Dessert_image{
        width: 72px;
      }

      .Recipes_header_holder{
      width: 100%;
      margin-left: -25px;
    }

    .Recipes_header{
      font-size: 29px;
    }

    .Recipes_paragraph{
      margin-left: -10px;
      width: 86%;
    }

    .Chef_section{
      margin-left: -10px;
      
    }

    .Chef_section_header{
      font-size: 29px;
      width: 104%;
      margin-left: 10px;
    }

    .Chef_section_paragraph{
      width: 104%;
      margin-left: 10px;
    }

    .Chef_section_button{
      margin-left: 90px;
    }

    .Chef_section_Image{
      margin-left: -50px;
      width: 300px;
    }

    .Instagram_header{
      font-size: 26px;
      margin-left: 20px;
      width: 86%;
    }

    .Instagram_paragraph{
      margin-left: 20px;
      width: 86%;
    }

   
   .Instagram_section_Image{
      display: grid;
      place-items: center;
      margin-left: 0px;
    }

  .Delicious_recipies_header_holder{
    margin-left: 0px;
    
  }

  .Delicious_recipies_header{
    font-size: 29px;
    width: 150%;
    margin-left: -50px;
  }

  .Delicious_recipies_paragraph{
    width: 150%;
    margin-left: -70px;
  }

  .Delicious_recipies_Image_holder{
    margin-left: 30px;
  }

  .Delicious_sub{
    margin-left: 25px;
    width: 87.5%;
  }

  .Delicious_sub_header{
   font-size: 23px;
    margin-left: -155px;
  }

  .Delicious_sub_paragraph{
   font-size: 13px;
    margin-left: -155px;
    width: 60%;
  }

  .Delicious_sub_input{
    width: 295px;
    margin-left: -155px;
    
  }

  .Delicious_sub_button{
   width: 70px;
    
  }

  .Delicious_sub_salad{
    
    margin-left: 0px;
  }
  
  .Delicious_sub_eggs_holder{
    margin-left: 0px;
  }

  .Delicious_sub_salad_holder{
    margin-left: 0px;
  }
  .Delicious_sub_eggs{
   
  }


}






/* Small devices (landscape phones, 576px and up)*/

/*@media (min-width: 576px) {

  .navbar{
    position: fixed;
    padding: 1.6em 1em 1.6em 1.5em;
  }

 
  
  .links, .socials{
    display: none;
  }

  .menubar{
    display: block;
    padding-left: 9em;
 
    
  }



}*/







/*@media(max-width: 1278px ){
   
  .socials{
      margin-left: 206px;
     
      }

      
  .navbar .links {
    display: flex;
    margin-left: 235px;
    font-family: inter;
    font-size: 16px;
    line-height: 19.36px;
    font-weight: 500;
    gap: 30px;
    
  }
  
    }


@media(max-width: 1024px ){

    .navbar .links {
      margin-left: 160px;
     }
   
    .socials{
        margin-left: 155px;
      }

  
    .Chef_section_header{
        width: 160%;
       }
      

    .Chef_section_button:hover{
        background-color: skyblue;
       }
      
       .Chef_section_Image_holder{
        width: 50%;
        margin-left: 0px;
        margin-right: px;
       }

       .Chef_section_Image{
          width: 500px;
          margin-left: 20px;
       }

       .Instagram_section_holder{
       
        margin: 90px 40px 0px 40px;
        
       }

       .Delicious_recipies_header{
        
        line-height: 50px;
      }

      .Delicious_recipies_holder{
        padding: 0px 40px 0px 0px;
      }

      .Delicious_sub{
       margin-left: 25px;
       width:94%;
       height: 70vh;
      }

     
    
      .Delicious_sub_salad_holder{
        margin-right: 0px;
        margin-top:-50px;
      }
    
      .Delicious_sub_salad{
        border-radius: 0px 0px 0px 40px;
        width: 100%;
      }
    
      .Delicious_sub_eggs_holder{
        margin-left: 430px;
        margin-top: 50px;
        
      }
    
      .Delicious_sub_eggs{
        border-radius: 0px 0px 60px 0px;
        width: 100%;
      }

      .footer_section_certify{
       gap: 50px;

      }

      .footer_section-logo{
        gap:35px;
      }


      
     }

     @media(max-width: 1000px ){
   
      .navbar .links {
        margin-left:120px;
        font-size: 16px;
       
    }


      .socials{
        margin-left: 166px;
             
        }
          
      }

     @media(max-width: 850px ){

    .navbar .links {
        display: none;
        }

      .menubar{
        display: block;
        margin-left: 610px;
        padding-right:70px ;
      }
     
      .socials{
         display: none;
                  }

       .Chef_section_Image_holder{
        width: 50%;
        margin-left: 0px;
        margin-right: px;
       }

       .Chef_section_Image{
          width: 450px;
         
       }

       .menubar{
        margin-left: 350px;
         padding-right:50px ;
       }

        .HomeImage{
         width: 60%;
         margin-right: 280px;
       }

       .HomeImage_container{
         margin-top: 15px;
        }
     
     
     
      .LeftImage_container{
        margin-top: 30px;
       
       }
     
     .LeftImage{
       display: none;
     }
     
     .RightImage_container{
      margin-top: 40px;
     }
     
     .RightImage{
      display: none;
     }

     .Foodie_header_holder{
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 90px;
     }
    
     .Foodie_header{
       font-family: Inter;
       font-weight: 600;
       font-size: 35px;
       line-height: 58.09px;
       color: black;
       
     }

     .Foodie_subheader_body{
      
      margin-right: 260px;
      
     }
    
     .Foodie_subheader{
      font-family:Inter;
      font-weight: 600;
      font-size: 16px;
      line-height:19.36px;
     }

     .Lunch_image{
      display: none;
     }

     .Chocolate_image{
      display: none;
     }

     .Breakfast_image ,.Vegan_image, 
     .Meat_image, .Dessert_image
      {
      width: 108px;
     }

     .Recipes_header_holder{

     }

     .Recipes_header{
      font-size: 38px;
     }

     .Recipes_section{
      margin-top: 110px;
      margin-left: 0px;
      width: 67%;
    }
    
     .Recipes_header_holder{
      text-align: center;
     }

  
     .Recipes_paragraph{
      font-size: 14px;
      line-height: 25px;
     }
    
     .Recipes-Image_container{
     margin-top: 40px;
     }
    
     .Recipes-Image_container_subs{
      display: flex;
      gap: 20px;
      margin-top: 30px;
      margin-right: 20px;
     }

     .Recipes-Image_container{
      margin: 0px 0px 0px 40px;
     }

     .Recipes-Image{
      width: 156px;
     }

     .Chef_section_holder{
      display: block;
      margin: 40px 0px 0px 40px;
     }

     .Chef_section_header{
      width: 95%;
      text-align: center;
      font-size: 35px;
      line-height: 45px;
      }
    
     .Chef_section_paragraph{
      margin-top: 30px;
      font-size: 14px;
      width: 95%;
      text-align: center;
     }

     .Chef_section_button{
      margin-top: 40px;
      margin-left: 323px;
    }
    
     .Chef_section_button:hover{
      background-color: skyblue;
     }
    
     .Chef_section_Image_holder{
      width: 56%;
      margin-top: 40px;
     
     }

     .Instagram_section_holder{
     
      width: 60%;
      
     }

     

  .Instagram_section_header{
      text-align: center;
      width: 100%;
     }
    
     .Instagram_header{
      font-size: 35px;
      line-height: 50.09px;
      margin-bottom: 15px;
     }
    
     .Instagram_paragraph{
   
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 15px;
     margin-bottom: 50px;
      width: 95%;
   }
  
   .Instagram_section_Image{
    display: grid;
    
   

    
   }
  
   .Instagram_section_post_Image{
     width: 210px
     
   
   }

   .Instagram_section_post_Image_holder{
    display: flex;
    gap: 20px;
   }

   .Instagram_section_button{
   display: grid;
   place-items: center;
    
   }
  

}
  
 
   
  @media(max-width: 760px ){
        .menubar{
       
        }

         .HomeImage{
          width: 68.5%;
          margin-right: 180px;
        }

        .HomeImage_container{
          margin-top: 10px;
         }
      
    .LeftImage_container{
         margin-top: 30px;
        
        }
      
      .LeftImage{
        display: none;
      }
      
      .RightImage_container{
       margin-top: 40px;
      }
      
      .RightImage{
       display: none;
      }

      .Foodie_subheader_body{
      
        margin-right: 160px;
        
       }
       } 

       @media(max-width: 414px ){
        
  .navbar{
    
    padding: 30px 0px 30px 25px;
    
    }

    .FoodieImage{
      width: 80%;
    }
    .menubar{
      
      margin-left: 125px;
       padding-right:30px ;
     }

     .menu-icon{
      width: 80%;
     }

     .HomeImage_container{
      margin-left: 40px;
     }

     .HomeImage{
      width: 96.5%;
      
      margin-right: 50px;
    }

   

    .Foodie_header{
      display: none;
    }

    .Foodie_subheader_body{
      
    }

    .Foodie_header_holder{
      display: grid;
      place-items:center ;
    }

    .Foodie_subheader{
     font-size: 14px;
     margin-left: -100px;
     width: 200%;
     
    }

    .Meal-choice{
      display: grid;
      place-items: center;
    }

    .Breakfast_image, 
    .Vegan_image,
    .Meat_image,
    .Dessert_image,
    .Lunch_image,
    .Chocolate_image{
      width: 130px;
    }

    .Instagram_section_holder{
      margin-top: 2900px;
    }

    .Recipes_header{
      font-size: 18px;
      line-height: 20px;
      margin-right: 250px;

    }

    .Recipes_paragraph{
      font-size: 16px;
      line-height: 20px;
      margin-right: 250px;
      padding: 0px 20px 0 20px;

    }

    .Recipes_section{
     
      
      display: grid;
      place-items: center;

      
    }

    .Recipes-Image_container_subs{
      display: grid;
      place-items: center;
      margin-right: 250px;
    }

    .Recipes-Image{
      width: 200px;
    }

    .Chef_section_holder{
      display: grid;
      
    }

    .Chef_section{
      
    }

    .Chef_section_header{
      font-size:20px;
      line-height: 20px;
     
      text-align: center;
      padding: 0 40p 0 40px;
      width: 50%;
    }

    .Chef_section_paragraph{
      font-size:16px;
      line-height: 24px;
      text-align: center;
      padding: 0 40p 0 40px;
      width: 50%;
    }



      }  */

  
  



