
*{
    margin: 0;
    
  }

  .navbar{
    padding: 35px 0 35px 80px;
    display: flex;
    align-items: center;
    max-width: 1200px;
   /* margin: 0 auto;*/
    border-bottom: 2px solid #f2f2f2;
  }

  .FoodieImg_container{
    margin-left: 10px;
  }

  .navbar .links {
    display: flex;
    margin-left:200px;
    font-family: inter;
    font-size: 16px;
    line-height: 19.36px;
    font-weight: 500;
    gap: 50px;
    
  }

  .navbar a{
    color: black;
    text-decoration: none;
    padding: 6px;
  }
  .navbar a:hover{
    color: skyblue;
  }

  .socials{
    display: flex;
    align-items: center;
    margin-left: 140px ;
    display: flex;
    gap: 35px;
    
    }

    .HomeImage_container{
     margin-top: 40px;
     display: grid;
     place-items: center;
    }

  .HomeImage{
    width: 85%;
  }